@import url("../../index.css");

.search-information-bar
{
        clear: both;
        background-color: #8f8f8f;
}

.orderby-options button.btn
{
    margin: 0em 0.2em 0em 0.2em;
}
.orderby-options button.btn:focus{
    box-shadow: none
}
.active
{
    background-color: #f08080;
    border-color: #f77676;
    font-weight: bold;
}