@import url("../../index.css");

.header {
  background-color: #2b2927;
   /* This shows the background color */
   /* This ensures that there is a margin of 81px between the header of other elements */
  color: lightcoral;
  overflow: hidden;
  font-weight:bold; 
  height: 2.5em;
  font-size: 2em;
  padding: 0.5em 0em 0em 0.5em 
}

.footer
{
  background-color: #2b2927;
  /* This shows the background color */
  /* This ensures that there is a margin of 81px between the header of other elements */
 color: lightcoral;
 
 height: 2.5em;
 font-size: 2em;
 
 padding: 0.5em 0em 0em 0.5em 
}