@import url("../../index.css");

.header {
  background-color: #15141c;
   /* This shows the background color */
   /* This ensures that there is a margin of 81px between the header of other elements */
  color: #f55360;
  overflow: hidden;
  font-weight:bold; 
  height: 2.5em;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;    
  padding-top: 0;
  padding-bottom: 0;
}

.footer
{
  background-color: #15141c;
  /* This shows the background color */
  /* This ensures that there is a margin of 81px between the header of other elements */
 color: #f55360;
 
 height: 2.5em;
 font-size: 2em;
 
 padding-left: 1em;
 padding-right: 1em;    
 padding-top: 0;
 padding-bottom: 0;
}

.body{
  padding-top: 0;
  padding-bottom: 0;
}